nav{
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
}

nav, nav ul {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}

nav li:hover{
    color: #2c7bfe;
    cursor: pointer;
    transition: all 0.25s;
}



.logo {
    height: 96px;
    width: 96px;    
}

nav ul{
    width: 90%;
}

