.Chairs_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Chairs_container h2{
    margin: 2% 0;
}


.Chairs_container .people{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info {
    width: 50%;
    margin-top: 5%;
}