.Commitee_container {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Commitee_container h2 {
    margin: 5%;
    color:#2c7bfe;
}

.Commitee_container .people {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.person {
    flex: 1 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
    width:100%;
}

.info {
    width: 50%;
    margin-top: 5%;
}

.person .image{
    margin: 5%;
    box-shadow: 0 0 0 3px black;
    border-radius: 50%;
    box-shadow: 10px 5px  rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 5px  rgba(0,0,0,0.2);
    -webkit-box-shadow: 10px 5px  rgba(0,0,0,0.2);
    -o-box-shadow: 10px 5px  rgba(0,0,0,0.2);
  
}

.person img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
   
  }

.name {
    font-weight: bold;
    color: #2c7bfe;
    font-size: larger;
}